*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* Temporary styles, to delete later, just to start and see what you are doing */

*{
    padding:0.5rem;
    border:1px solid rgb(220,220,220)
}

body{
    border:0;
}

html{
    border:none;    
}
/* Real styles to keep on project */

/* image styles */

.bg-image{
    background-image:url('images/the-sleep-co-1.jpg');
    background-size:cover;
    min-height:10rem;
}

/* Universal Styles and Utility classes */

.padded{padding:5%;}
.padded-sm{padding:1rem;}

.bg-dark{
    background-color: #192B37;
    color:white;
}

